---
import Layout from '../layouts/Layout.astro'
import { StatisticsCard } from '../components/StatisticsCard'
---

<Layout title='Estadísticas'>
  <h1 class='text-3xl font-bold mb-8 text-center'>Tus estadísticas</h1>
  <div
    class='max-w-md mx-auto bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden'
  >
    <StatisticsCard client:load />
  </div>
</Layout>