<footer class='bg-gray-200 dark:bg-gray-800 p-4 text-center'>
  <p>
    TechQuizz - hecho por
    <a
      class='text-blue-400 hover:text-blue-500 underline'
      href='https://github.com/Jhon-H'
      target='_blank'
      rel='noopener noreferrer'>Jhon Hernandez</a
    >
  </p>
</footer>
